body {
  margin: 4vh 8vw;
  color: rgb(255, 255, 35);
  background-color: rgb(8, 8, 145);
  font-family: Ubuntu, 'Helvetica Neue', sans-serif;
  font-size: 32px;
}

button {
  color: inherit;
  background-color: inherit;
  margin: 0 0 12px 0;
  font: inherit;
}

.counter-container {
  margin: 0 0 0 68px;
}